img{
    height: 100%;
    width: 100%;
    position: relative;
}

h1{
    font: 2em sans-serif;
    -webkit-text-fill-color: hsl(0, 0%, 100%, 50%);
}

.container{
    height: 100%;
    width: 100%;
    position: relative;
}

.menu{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    transform: translateX(50%) translateY(-200%);
    gap: 1em;
}

.login-button{
    background-color: rgb(43, 143, 143);
}

.login-button:hover{
    cursor: pointer;
    background-color: rgb(43, 143, 143, 50%);
}